# BASE_URL 配置
DASHSCOPE_BASE_URL =  https://dashscope.aliyuncs.com/compatible-mode/v1
DEEPSEEK_BASE_URL = https://api.deepseek.com
ALIYUN_BASE_URL = https://ws-llq8baw8q88n1gjz.cn-beijing.maas.aliyuncs.com/compatible-mode/v1

# API Key配置
DASHSCOPE_API_KEY = YOUR_DASHSCOPE_API_KEY  # 百炼 API Key
DEEPSEEK_API_KEY = YOUR_DEEPSEEK_API_KEY # DeepSeek API Key

# 模型配置
ALIYUN_LLM_MODEL = qwen3-max
DEEPSEEK_LLM_MODEL_FLASH = deepseek-v4-flash
DEEPSEEK_LLM_MODEL_PRO = deepseek-v4-pro

JWT_SECRET_KEY = YOUR_JWT_SECRET_KEY  # JWT密钥：用以加密 JWT
JWT_ALGORITHM = HS256    # JWT 加密算法
JWT_ACCESS_TOKEN_EXPIRE_MINUTES = 30  # JWT 访问令牌过期时间（单位：分钟）
JWT_REFRESH_TOKEN_EXPIRE_DAYS = 7 # JWT 刷新令牌过期时间（单位：天）
HASH_SALT = YOUR_HASH_SALT  # 哈希盐：用以混淆用户Id


# 密钥可生成网站：https://motools.net/zh/dev/secret-key-generator